<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Viewer.Properties.Settings>
            <setting name="UseLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebService" serializeAs="String">
                <value>http://cube21.no-ip.org:8088/Cube21Service/Cube21Service.svc/bas</value>
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value>C:\Cube21</value>
            </setting>
            <setting name="LocalReady" serializeAs="String">
                <value>False</value>
            </setting>
        </Viewer.Properties.Settings>
    </userSettings>
</configuration>